body {
    background: whitesmoke;
}

section {
    width: 300px;
    text-align: center;
}

.colorBtn {
    color: #E5F2C9;
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    border: 2px solid #E5F2C9;
    border-radius: 2px;
    padding: 5px;
    background: #1F0318;
    cursor: pointer;
    transition: color 0.25s, border 0.25s, transform 0.25s, box-shadow 0.25s;
}

.colorBtn:hover {
    color: white;
    border: 2px solid #7F534B;
    box-shadow: 0 0.5em 0.5em -0.4em #7F534B;
    transform: translateY(-0.25em);
    cursor: pointer;
}


.colorGrid {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.selectedColor {
    margin-top: 20px;
    margin-bottom: 10px;
}

.colorValue {
    margin-left: 5px;
    font-weight: bold;
}